.toy {
  margin-bottom: 48px;
}

.filtr {
  position: relative;
  margin-bottom: 60px;
}

.title-toy {
  display: block;
  margin-top: 17px;
  margin-bottom: 17px;
}

.background-filtr {
  position: relative;
  left: -110px;
  top: 0px;

  width: 1400px;
  height: 254px;

  background-color: rgba(125, 151, 218, 0.2);
}

.filtr-form {
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;

  width: 1095px;
  height: 170px;
  margin-top: 42px;
}

.fieldset-range {
  margin: 0px;
  margin-right: 95px;
}

.sort-item {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1095px;
  margin: 42px 0px 42px 110px;
}

.range {
  margin-bottom: 10px;
  width: 206px;
}

.fieldset-checkbox {
  display: flex;
  margin: 0px;
  margin-right: 124px;
}

.indicator-text {
  display: flex;
  position: relative;
  margin-bottom: 15px;
}

.indicator-radio {
  display: flex;
  position: relative;
  margin-bottom: 10px;
}



.form-radio-indicator {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #c29974;
  box-sizing: border-box;
  border-radius: 10px;
  margin-right: 10px;
}

.radio-activ::before {
  content: "";
  position: absolute;
  background: #c29974;
  border-radius: 10px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
}

.fieldset-radio {
  margin: 0px;
  margin-right: 69px;
}

.fieldset-amount {
  margin: 0px;
  margin-right: 60px;
}

.amount-sort {
  display: flex;
}

.indicator-amount {
  position: relative;
  width: 80px;
  height: 35px;
  background-color: #ffffff;
}

.amount-activ {
  background-color: #f3d0db;
}
.amount-text1::before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  content: "0-5";
}

.amount-text2::before {
  position: absolute;
  left: 24%;
  top: 20%;

  content: "10-20";
}

.amount-text3::before {
  position: absolute;
  left: 24%;
  top: 20%;

  content: "20-50";
}

.fieldset-title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #1e0606;
  margin-bottom: 15px;
}

.range-num {
  display: flex;
  justify-content: space-between;
}

.button_apply {
  margin-top: 36px;
  width: 95px;
  height: 41px;
}

.sort {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 0px;
  margin: 0px;
}

.sort-href {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sort-list {
  margin-bottom: 30px;
}

.item-sort {
  width: 380px;
}

.sort-img {
  margin-bottom: 30px;
}


.filter-text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1e0606;
}

.sort-text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #1e0606;
}

.sort-price {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #1e0606;
  margin-top: 16px;
  margin-bottom: 47px;
}
