body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  
}

.main{
display: flex;
flex-direction: column;
flex-wrap: wrap-reverse;

}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

.hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.container {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
}

.list-point-none {
  list-style-type: none;
  padding-left: 0px;
}

.breadcrumbs-list {
  font-family: "Crimson Text", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  color: #1e0606;
}

.breadcrumbs-list_activ {
  opacity: 0.5;
}

.button {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #000000;
  padding: 9px 22px;
  display: block;
  align-items: baseline;

  
}

/* header */

.header {
  display: flex;
  padding-top: 50px;
  padding-bottom: 40px;
}

.logo {
  width: 100px;
  min-width: 100px;
  height: 52px;

}

.header-nav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.list-links {
  display: flex;
  flex-wrap: wrap;
  margin-left: 60px;
  justify-content: space-between;
}

.header-link {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #1e0606;

  margin-right: 20px;
}

.header-link-bold {
  font-weight: bold;
}

.list-contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header-search{
margin-right: 24px;

}

/* title */

.title-h3 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  text-transform: uppercase;
  color: #1e0606;
  margin: 0px;
}

.title-h2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
  color: #1e0606;
}

/* text */

.text-info {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1e0606;
  margin: 0px;
}

/* footer */

.footer {
  flex-direction: column;
  margin-top: 60px;
  width: 1400px;
}

.footer-title {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 22px;
  color: #aaaaaa;
}

.footer-text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;

  margin-top: 15px;
}

.design-title {
  color: #a2a2a2;
}
.footer-nav {
  display: flex;
}

.navigation {
  margin: 0px;
  width: 380px;
}

.customer {
  margin: 0px;
  width: 380px;
}

.connect {
  width: 380px;
}

.input-sub {
  display: flex;
  margin-top: 49px;
}

.button-join {
  width: 81px;
}

.social {
  display: flex;
  margin: 0px;
}

.develop {
  display: flex;
}
