.range {
  -webkit-appearance: none;
  background:#000;
  outline: none;
  width: 100px;
  height: 10px;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  background: #d4d4d4;
  border-radius: 18px;
  cursor: pointer;
  transition: 0.1s;
}
