.made-in {
  font-family: "Crimson Text", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  color: #1e0606;
}

.product-title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
}

.info-category {
  font-family: "Crimson Text", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 26px;
  line-height: 32px;
  color: #1e0606;
}

.info-category_activ {
  font-weight: bold;
  background: rgba(112, 187, 220, 0.2);
}

.about-us_subtitle {
  font-family: "Crimson Text", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 26px;
  line-height: 32px;
  color: #1e0606;
}

/* Poster */

.poster-div_list {
  display: flex;
  flex-wrap: wrap-reverse;
  margin-top: 89px;
  background-color: #eee4db;
  z-index: 2;
}

.poster {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  background-color: #fff;

}

.poster-div {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #c29974;
}
.poster-slid {
  display: flex;
  flex-direction: column;
  margin-left: 28px;
}

.num {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 60px;
  line-height: 73px;
  color: rgba(30, 6, 6, 0.05);
}

.line {
  width: 31px;
  height: 3px;
  margin-top: 10px;
  margin-left: 3px;
  background-color: #d6cac2;
  border: 0px;
}

.poster-div_title {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 89px;
  margin-bottom: 89px;
  margin-left: 44px;
  width: 307px;
}

.title-poster {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 110%;
  color: #1e0606;
  margin: 0px;
}

.made-in {
  margin-top: 20px;
}

.button-explore {
  width: 161px;
}

.poster-img {
  position: absolute;
  z-index: 3;
  left: 455px;
  max-width:635.49px;
  
  

 
}

.poster-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 11px;
  padding-bottom: 11px;
}
.category {
  display: flex;
  flex-direction: column;
  margin-top: 90px;
}

.category-list {
  display: flex;
  justify-content: space-between;
}

.product {
  width: 280px;
}

.slid-product {
  display: flex;
  margin-top: 30px;
  max-width: 640px;
}

.slid {
  width: 37px;
  height: 37px;
  margin: 3px 0px 4px 0px;
  border: 0px;
  padding: 0px;
}

.slid-2 {
  margin-left: 6px;
}

.marketing-text {
  margin-left: 20px;
}

.info {
  margin-top: 90px;
}
.info-img {
  width: 480px;
}

.info-nav {
  width: 540px;

  padding-left: 60px;
}

.info-list {
  margin-top: 17px;
  margin-bottom: 0px;
}

.list-category {
  margin-top: 22px;
}

.format-info_1 {
  margin-top: 30px;
  width: 480px;
}

.format-info_2 {
  margin-top: 15px;
  width: 480px;
}

.button_more {
  margin-top: 26px;
  width: 149px;
}

.sponsors {
  margin-top: 90px;
}

.sponsor-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sponsor-list_item {
  display: block;
}

.about-us_map {
  margin-top: 90px;
}

.about-us {
  padding-left: 30px;
  width: 543px;
}

.about-us-text {
  margin-top: 10px;
  width: 483px;
}

.button_buy {
  margin-top: 20px;
  width: 123px;
}
.contacts {
  margin-left: 57px;
  padding-left: 30px;
  width: 543px;
}

.contacts-text {
  margin-top: 20px;
  width: 483px;
}

.contacts-map {
  display: block;
  margin-top: 20px;
  width: 483px;
}
