/* Poster */

.poster-div_list {
  display: flex;
  flex-wrap: wrap-reverse;
  margin-top: 87px;
  background-color: #eee4db;
  z-index: 2;
  width: 1180px;
  min-height: 370px;
}

.poster {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  background-color: #fff;
}

.poster-div {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #c29974;
}
.poster-slid {
  display: flex;
  position: absolute;
  top: 104px;
  left: 48px;
  display: flex;
  flex-direction: column;
}

.num {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 60px;
  line-height: 73px;
  color: rgba(30, 6, 6, 0.05);
}

.line {
  width: 31px;
  height: 3px;
  margin-top: 11px;
  margin-left: 3px;
  background-color: #d6cac2;
  border: 0px;
  padding: 0px;
}

.line:hover {
  cursor: pointer;
}

.line-activ {
  margin-top: 10px;
  background-color: rgba(30, 6, 6, 0.6);
}

.poster-div_title {
  position: absolute;
  top: 89px;
  left: 110px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 89px;
  margin-bottom: 89px;
  margin-left: 44px;
  width: 307px;
}

.title-poster {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 110%;
  color: #1e0606;
  margin: 0px;
}

.made-in {
  font-family: "Crimson Text", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  color: #1e0606;
  margin-top: 19px;
}

.button-explore {
  width: 161px;
}

.poster-img {
  position: absolute;
  min-width: 300px;
  bottom: 36px;
  z-index: 3;
  left: 465px;
  max-width: 635.49px;
}

.poster-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
}

/* Category */

.category {
  margin-top: 90px;
}

.category-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  margin-right: -10px;
}

.product-list {
  margin-top: 10px;
  margin-right: 10px;
}

.product-item-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/images/kids.jpg);
  padding: 50px;
  width: 280px;
  height: 270px;
}

.product-item-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/images/shop.jpg);
  padding: 50px;
  width: 280px;
  height: 270px;
}

.product-item-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/images/toys.jpg);
  padding: 50px;
  width: 280px;
  height: 270px;
}

.product-item-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/images/accessories.jpg);
  padding: 50px;
  width: 280px;
  height: 270px;
}

.product-title {
  display: block;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
}

.slid-product {
  display: flex;
  margin-top: 30px;
  max-width: 680px;
}
.slid-info {
  display: flex;
  margin: 3px 0px 4px;
}

.slid {
  position: relative;
  width: 37px;
  height: 37px;
  margin: 3px 0px 4px;
  border: 0px;
  padding: 0px;
  background-color: rgba(112, 187, 220, 0.2);
}

.left::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 17.5px;

  transform: rotate(45deg);

  height: 21px;
  width: 4px;
  background-color: #1e0606;
}

.left::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 17.5px;
  transform: rotate(133deg);

  height: 21px;
  width: 4px;
  background-color: #1e0606;
}

.right {
  margin-left: 6px;
}

.right::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 17.5px;

  transform: rotate(-45deg);

  height: 21px;
  width: 4px;
  background-color: #1e0606;
}

.right::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 17.5px;
  transform: rotate(-133deg);

  height: 21px;
  width: 4px;
  background-color: #1e0606;
}

.marketing-text {
  margin-left: 20px;
}

/* info*/

.info {
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
}
.info-img {
  margin-top: 7px;
  width: 480px;
  min-width: 300px;
}

.info-nav {
  display: flex;
  flex-direction: column;
  width: 540px;
  margin-top: 30px;
  margin-left: 60px;
}

.info-list {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.list-category {
  margin-top: 22px;
}

.info-category {
  display: block;
  text-indent: 60px;
  padding-top: 13px;
  width: 326px;
  height: 55px;

  font-family: "Crimson Text", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 26px;
  line-height: 32px;
  color: #1e0606;
}

.margin-info {
  margin-left: 60px;
  margin-top: 10px;
}

.info-category_activ {
  font-weight: bold;
  background-color: rgba(112, 187, 220, 0.2);
}

.format-info_1 {
  margin-top: 3px;
  margin-left: 60px;
}

.format-info_2 {
  margin-top: 15px;
  margin-left: 60px;
}

.button_more {
  margin-top: 26px;
  width: 149px;
  margin-left: 60px;
}

/* sponsors */

.sponsors {
  display: flex;
  margin-top: 62px;
}

.sponsor-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.sponsor-list_item {
  margin-top: 10px;
}

/* about-us_map */

.about-us {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 543px;
  padding-left: 30px;
  margin-top: 72px;
}

.about-us_map {
  display: flex;
  flex-wrap: wrap;
  min-width: 640px;

  padding-right: 36px;
}

.index-z2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  z-index: 2;
}

.background-about_us {
  position: absolute;
  z-index: 1;
  left: 0px;
  top: 26px;
  width: 543px;
  height: 236px;
  background-color: #e1f0f7;
}

.background-map {
  position: absolute;
  z-index: 1;
  right: 0px;
  top: 26px;
  width: 543px;
  height: 209px;
  background-color: #e1f0f7;
}

.about-us_subtitle {
  margin: 10px 0px 0px;

  font-family: "Crimson Text", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 26px;
  line-height: 32px;
  color: #1e0606;
}

.about-us-text {
  min-width: 360px;
  margin-top: 10px;
  padding-right: 30px;
}

.button_buy {
  margin-top: 22px;
  width: 123px;
}
.contacts {
  position: relative;
  z-index: 2;
  margin-left: 57px;
  padding-left: 30px;
  width: 543px;
  margin-top: 72px;
}

.contacts-text {
  margin-top: 20px;
  padding-right: 30px;
}

.contacts-map {
  display: block;
  margin-top: 20px;
}

/* modal */

.modal-background {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0px;
  background-color: rgba(125, 151, 218, 0.8);
  z-index: 4;
  display: flex;
}

.modal-window {
  position: fixed;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  width: 680px;
  background-color: #e5eaf8;
  padding: 40px 42px;
}

.modal-label {
  display: flex;
  flex-direction: column;
}

.data {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 20px;
}

.long-input {
  height: 50px;
  margin-bottom: 20px;
}

.short-input {
  width: 290px;
  height: 50px;
}

.lable-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: black;

  margin-bottom: 6px;
}

.modal-consent {
  display: flex;
  margin-top: 20px;
}

.text-consent {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: black;
  margin-left: 15px;
}
.modal-consent {
  display: flex;
}

.modal-submit {
  background-color: #c1c1c1;
  margin-top: 20px;
  width: 106px;
  height: 40px;
  border: 0px;
  color: #e1e1e1;

  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;

  color: #e1e1e1;
}

.modal-close {
  position: fixed;
  background-color: rgba(125, 151, 218, 0.0);
  color: white;
  width: 15px;
  height: 15px;
  border: 0px;
  top: 261px;
  right: 349px;
  
}
