.cat-title {
  margin: 0px;
  margin-top: 18px;
}

.bread-category {
  margin-top: 16px;
  margin-bottom: 17px;
}

.prod-list {
  position: relative;
  margin-right: 20px;
  margin-top: 26px;
}

.ctg-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-right: -10px;
}

.prod-list:nth-child(4n + 4) {
  margin-left: 200px;
}

.description{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 200px;
  max-width: 680px;
  margin-top: 50px;
}

.description-info{
  margin-top: 15px;
}
